*{left:0;top:0;}
body{
  color:#fff;
  background:#1c1c1c;
  font-family:'Arial', bolder, 16pt;
  text-align:center;
  align-items:center;
}

h1{
  text-shadow:0 0 5px white;
  animation: pisca 1s infinite;
}

.enviar{
  color:#fff;
  background:#aaaaff;
  text-shadow:0 0 2px black;
  border:none;
  border-radius:6px;
}
.enviar:actived{
  background:#33f;
}
/*________Animation______*/
@keyframes pisca{
  
  25%{color:#eee;text-shadow:0 0 10px white}
  50%{color:#ddd;text-shadow:0 0 15px white}
  75%{color:#eee;text-shadow:0 0 10px white}
  100%{color:#ddd;text-shadow:0 0 10px white}
}
