*{left:0;top:0;}
body{
  color:#fff;
  background:#1c1c1c;
  font-family:'Arial', bolder, 16pt;
  text-align:center;
  align-items:center;
}

h1{
  text-shadow:0 0 5px white;
}

button .enviar{
  color:#fff;
  background:#ccccff;
  text-shadow:0 0 2px black;
  border:none;
  border-radius:6px;
}
button .enviar::actived{
  background:#aaaaff;
}
